<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
            <button style="margin-right: 10px;" mat-button (click)="addDialog()" class="pull-right btn btn-success glyphicon-plus"> Add Article</button>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='articles && articles.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                                (click)='toggleContent()'>
                                {{showContent ? 'Hide' : 'Show'}} Content
                            </button>
                        </th>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Tags</th>
                        <th>Last Edit</th>
                        <th>Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let article of filteredArticles'>
                        <td>
                                <span *ngIf='showContent'>
                                    {{ article.content }}
                                </span>
                        </td>
                        <td>
                                {{ article.title }}
						</td>
                        <td>{{ article.location}}</td>
                        <td>{{ article.tags }}</td>
                        <td>{{ article.lastEdit}}</td>
                        <td>
                         <button mat-button (click)="openDialog(article)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
                         <button mat-button (click)="deleteDialog(article)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>



